.about-img1 {
    padding-top:5%;
    width: 100vw;
    height: auto;
    max-width : 98%;
    padding-left : 1%;
    padding-right : 1%;
     border-radius: 10%;
    background: url({}), lightgray 50% / cover no-repeat;
    box-shadow: 0px 11.135px 18.558px 0px rgba(2, 147, 52, 0.05);
}
.about-section-2 {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.img2About {
    width: 678px;
    height: 678px;
    flex-shrink: 0;
    padding-top: 5%;
}
.about-ourMission{
    color: #282828;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    padding-top : 5%;
    font-size : 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px; /* 163.158% */
    letter-spacing: -1px;
}

.about-ourMission-P {
    padding-top: 5%;
    padding-left : 5%;
    padding-right: 5%;
    max-width: 100%;
    color: #575757;
    text-align: justify;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 237.5% */
    letter-spacing: 0.08px;
}
.about-heading1{
    align-self: stretch;
    text-align :center;
    color : 282828;
    font-family: Poppins;
    font-size: 16px;
    font-style :normal;
    font-feature-settings: 'clig' off, 'liga' off;
    font-weight : 600;
    line-height : 26px;
}
.about-heading2{
    align-self: stretch;
    text-align :center;
    color : 282828;
    font-family: Poppins;
    font-size: 54px;
    font-style :normal;
    font-feature-settings: 'clig' off, 'liga' off;
    font-weight : 600;
    line-height : 62px;
    letter-spacing: -1px;
}

@media (max-width : 991px){
    .img2About{
        display: none;
    }
    .about-ourMission-P{
        font-size: 14px;
    }
}