@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    background-color: rgba(253, 8, 8, 0.1);
}

div .terms-container {
    background-color: rgba(253, 8, 8, 0.1);
    color: #fd0808;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 10px grey;
    font-family: "Poppins", sans-serif;
}

.terms-container h1 {
    text-align: center;
    font-size: 60px;
}

.terms-container h4 {
    /* text-align: center; */
    font-size: 25px;
}

.terms-ol {
    background-color: #fd0808;
    color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    border-bottom-right-radius: 100px;
}

.terms-container {
    padding: 20px;
}

.terms-container li {
    list-style-type: disc;
    font-size: 20px;
    margin: 10px 0;
}

.enquiry-lists li {
    list-style-type: circle;
    margin: 15px 0;
}

.terms-container a {
    text-decoration: none;
    background-color: #fff;
    color: #fd0808;
    padding: 3.5px;
    border-radius: 5px;
}

.terms-additional {
    background-color: #fff;
    padding: 20px;
    border-bottom-right-radius: 100px;
}

.important-note {
    /* text-align: center; */
    font-size: 20px;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    color: #fd0808;
}

@media (max-width: 716px) {
    .terms-container h1 {
        font-size: 35px;
    }

    .terms-container h4 {
        font-size: 20px;
    }

    /* .terms-container li a {
    font-size: 10px;
  } */
}

@media (max-width: 426px) {
    body .terms-container {
        border-top-left-radius: 5px;
    }

    .terms-container ol {
        border-radius: 5px;
    }

    .terms-container li {
        font-size: 17px;
    }

    .terms-container h1 {
        font-size: 26px;
    }

    .terms-container h4 {
        font-size: 15px;
    }

    .terms-container li a {
        font-size: 15px;
    }

    .terms-additional {
        border-radius: 5px;
    }
}