.need {
  background-image: url("../../assets/images/need.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;
}

.need-heading {
  color: #4d4d4d;

  text-align: center;
  font-family: Inter;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 5rem;
}

.need-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.need-div1 {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 0 2rem;
}

.need-div1-img1 {
  height: 14rem;
  align-self: flex-end;
}

.need-div1 div h4 {
  color: #dc1f27;
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 122.222% */
}

.need-div1 div p {
  color: #868686;
  text-align: justify;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%; /* 31.5px */
  width: 40ch;
}

.need-div2 {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
}

.need-div1-img3,
.need-div1-img4 {
  width: 24rem;
}

@media screen and (min-width: 2651px) {
  /* Styles for screens above 2650px */
}

@media screen and (max-width: 2560px) and (min-width: 1441px) {
  /* Styles for screens between 2560px and 1441px */
}

@media screen and (max-width: 1440px) and (min-width: 1281px) {
  /* Styles for screens between 1440px and 1281px */
}

@media screen and (max-width: 1280px) and (min-width: 1025px) {
  /* Styles for screens between 1280px and 1025px */
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  /* Styles for screens between 1024px and 769px */
}

@media screen and (max-width: 768px) and (min-width: 541px) {
  /* Styles for screens between 768px and 541px */
}

@media screen and (max-width: 540px) and (min-width: 321px) {
  /* Styles for screens between 540px and 321px */
}

@media screen and (max-width: 320px) {
  /* Styles for screens under 320px */
}
