.need {
  background-image: url("../../assets/images/need.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;
}
@media (max-width : 853px){
  .need {
    background-image: none;
  }
}

.need-heading {
  color: #4d4d4d;
  text-align: center;
  font-family: Inter;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  margin-top: 7%;
  margin-bottom:2% ;
}
@media (max-width : 666px ){
  .need-heading{
    font-size: 22px;
  }
}

.need-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.need-div1 {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 0 2rem;
}

.need-div1-img1 {
  height: 14rem;
  align-self: flex-end;
}
@media (max-width : 774px){
  .need-div1-img1 {
    display: none;
  }
  .need-div1-img2 {
    max-height: 141px;
    height: auto;
    width: auto;
  }
}
@media (max-width : 550px){
  .need-div1-img2{
    display: none;
  }
}

.need-div1 div h4 {
  color: #dc1f27;
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 122.222% */
}
@media (max-width : 774px){
  .need-div1 div h4{
      color: #DC1F27;
      font-family: Poppins;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 122.727%; /*  */
  }
}
.need-div1 div p {
  color: #868686;
  text-align: justify;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%; /* 31.5px */
  width: 40ch;
}
@media (max-width : 774px ){
  .need-div1 div p{
      color: #333;
      text-align: justify;
      font-family: Poppins;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }
}
.need-div2 {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}
@media (max-width : 550px){
  .need-div2{
    gap : 1rem;
  }
}
.need-div1-img3,
.need-div1-img4 {
  width: 24rem;
}
@media (max-width : 774px){
  .need-div1-img3,
  .need-div1-img4 {
      max-height: 141px;
      width: auto;
      height: auto;
  }
}
@media (max-width : 550px){
  .need-div1-img3,
  .need-div1-img4 {
    width: 170px;
    height: 84px;
    
  }
}


@media screen and (min-width: 2651px) {
  /* Styles for screens above 2650px */
}

@media screen and (max-width: 2560px) and (min-width: 1441px) {
  /* Styles for screens between 2560px and 1441px */
}

@media screen and (max-width: 1440px) and (min-width: 1281px) {
  /* Styles for screens between 1440px and 1281px */
}

@media screen and (max-width: 1280px) and (min-width: 1025px) {
  /* Styles for screens between 1280px and 1025px */
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .need-div1-img1 {
    height: 12rem;
    align-self: flex-end;
  }
  .need-div1-img2 {
    height: 16rem;
    align-self: flex-end;
  }
  .need-div1 div h4 {
    font-size: 40px;  
  }
  
  .need-div1 div p {
    font-size: 14px;
    width: 30ch;
  }
  .need-div1-img3,
.need-div1-img4 {
  width: 20rem;
}
}

@media screen and (max-width: 768px) and (min-width: 541px) {
  /* Styles for screens between 768px and 541px */
}

@media screen and (max-width: 540px) and (min-width: 321px) {
  /* Styles for screens between 540px and 321px */
}

@media screen and (max-width: 320px) {
  /* Styles for screens under 320px */
}
