.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 150px;
}

.service-heading {
  color: var(--neutral-d-grey, #4d4d4d);
  text-align: center;
  font-family: Inter;
  font-size: 38.06px;
  font-style: normal;
  font-weight: 600;
  line-height: 30.627px; /* 80.47% */
  margin-bottom: 4rem;
}

.service-content {
  display: flex;
  justify-content: space-around;
}

.service-points {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  box-shadow: 0px 0px 10px;
  padding: 2rem 1rem;
  flex-basis: 35%;
  border-radius: 10%;
  position: relative;
}

.service-point {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.service-background {
  position: absolute;
  width:25rem;
  top: 30%;
  right: -33%;
}

.service-text {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.service-text h4 {
  color: #dc1f27;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4; /* 141.026% */
}

.service-text p {
  color: #425066;
  text-align: justify;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.e {
  margin-top: -1rem;
}

@media screen and (min-width: 2651px) {
  /* Styles for screens above 2650px */
}

@media screen and (max-width: 2560px) and (min-width: 1441px) {
  /* Styles for screens between 2560px and 1441px */
}

@media screen and (max-width: 1440px) and (min-width: 1281px) {
  /* Styles for screens between 1440px and 1281px */
}

@media screen and (max-width: 1280px) and (min-width: 1025px) {
  /* Styles for screens between 1280px and 1025px */
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  /* Styles for screens between 1024px and 769px */
}

@media screen and (max-width: 768px) and (min-width: 541px) {
  /* Styles for screens between 768px and 541px */
}

@media screen and (max-width: 540px) and (min-width: 321px) {
  /* Styles for screens between 540px and 321px */
}

@media screen and (max-width: 320px) {
  /* Styles for screens under 320px */
}
