.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
  width: 98%;
  margin: auto;
  padding-top: 9%;
}

.title-content {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.title-content-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 91px;
  font-family: Poppins;
  line-height: 1.1;
  margin-top: 2rem;
}
@media (max-width : 774px){
  .title-content-heading {
    font-size: 22px;
    line-height: 0.9;
    margin-top: 1.5rem;
  }
}
.title-content-heading span {
  color: #e85a4f;
}
.title-content-para {
  color: #333;
  text-align: justify;
  font-family: Poppins;
  font-size: 16px;
  width: 80%;
}
@media (max-width : 774px){
  .title-content-para {
    font-size: 9px;
    width: 90%;
  }
}

.btns {
  display: flex;
  gap: 5rem;
  justify-content: flex-start;
  align-items: center;
}
.social-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.explore button {
  width: 120px;
  height: 54px;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #fd0808;
  font-family: Lato;
  font-size: 16px;
  color: #fff;
}
@media (max-width : 774px){
  .explore button {
    width: 65px;
    height: 24px;
    font-size: 8px;
  }
}

.social-btn img {
  width: 40px;
  height: 40px;
  padding: 5px;
  border: 1.5px solid #000;
  border-radius: 50%;
}
@media (max-width : 774px){
  .social-btn img {
    width: 22px;
    height: 22px;
  }
}
.title-image img {
  display: flex;
  align-items: center;
  width : 100%;
}

@media screen and (min-width: 2651px) {
  .title-content-heading {
    font-size: 91px;
  }
  
  .title-content-para {
    font-size: 1.5rem;
  }
}

