.JoinUs-card-img {
   aspect-ratio: 0.86;
   width : 40%;
   
}
.JoinUs-WebDeveloper{
    
}
.JoinUs-margin-top{
    margin-top: 10%;
}
.JoinUs-margin-bottom{
    margin-bottom : 10%;
}
.JoinUs-WebDeveloper{
    display: flex;
width: 600px;
height: 700px;
padding: 579.609px 20px 20px 20px;
flex-direction: column;
justify-content: flex-end;
align-items: center;
flex-shrink: 0;
}
.JoinUs-devdiv{
    z-index: 2;
    background-image: url(./../../assets/images/joinUs/web.png);
    opacity: 1.0;
}
.JoinUs-card-img{
    z-index : -1;
}