.search-bar {
    border-radius: 8px;
    border: 1px solid var(--Gray-100, #e4e5e8);
    box-shadow: 0px 12px 40px 0px rgba(0, 44, 109, 0.04);
    background-color: var(--Gray-Scale-White, #fff);
    display: flex;
    gap: 12px;
    padding: 12px;
    /* display: inline-flex; */
    padding: 12px;
    
    display: inline-flex;
    align-items: center;
    gap: 12px;
    
    
  }
  
  .label{
    color: #D6D9DD;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
   
    font-weight: 400;
    line-height: 38px; /* 292.308% */
    margin-top: 20px;
  }

  .search-bar__header {
    justify-content: center;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }

  .search-bar__header-image {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    overflow: hidden;
    max-width: 100%;
  }

  .search-bar__header-text {
    color: var(--Gray-400, #9199a3);
    align-self: center;
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 400 16px/150% Inter, -apple-system, Roboto, Helvetica, sans-serif;
  }

  .search-bar__form {
    display: flex;
  }

  .search-bar__input {
    padding: 10px;
    margin-right: 5px;
  }

  .search-bar__button {
    color: var(--Gray-White, #fff);
    text-transform: capitalize;
    white-space: nowrap;
    justify-content: center;
    border-radius: 4px;
    background-color: #fd0808;
    padding: 10px;
    font: 600 16px/150% Inter, -apple-system, Roboto, Helvetica, sans-serif;
  }