
.JoinUs-Parent{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.JoinUs-cardlibrary{
    background-image: url(./../../assets/images/joinUs/Rectangle.svg);
}
.webd{
    margin-top: 7%;
    margin-left: 7%;
}
.ml{
    margin-top: 20%;
    margin-left: 7%;
}
.video-editor {
    margin-top : 20%;
    margin-left: 7%;
}
.graphic-designer {
    margin-top : 25%;
    margin-left: 7%;
}
.content-writing {
    margin-top : 20%;
    margin-left : 7%;
}
.android-developer {
    margin-top : 20%;
    margin-left : 7%;
}
@media (max-width : 798px){
    
}