.div {
    background-color: #fff;
    padding-right: 80px;
  }
  @media (max-width: 991px) {
    .div {
      padding-right: 20px;
    }
  }
  .div-2 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-2 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 46%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-3 {
    background: linear-gradient(
      325deg,
      #e85a4f 0.74%,
      rgba(232, 90, 79, 0.51) 100%
    );
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 0 25px;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
    }
  }
  @media (max-width: 640px) {
    .div-3 {
      display: none;
    }
  }
  .div-4 {
    color: var(--White, #fff);
    text-align: center;
    letter-spacing: -0.56px;
    margin-top: 28px;
    font: 600 28px/150% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-5 {
    align-self: stretch;
    display: flex;
    margin-top: 87px;
    flex-direction: column;
    padding: 0 63px 0 15px;
  }
  @media (max-width: 991px) {
    .div-5 {
      max-width: 100%;
      padding-right: 20px;
      margin-top: 40px;
    }
  }
  .img {
    aspect-ratio: 0.9;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
  }
  @media (max-width: 991px) {
    .img {
      max-width: 100%;
    }
  }
  @media (max-width: 640px) {
    .img {
      display: none;
    }
  }
  .div-6 {
    justify-content: center;
    color: #b7b5b5;
    margin-top: 15px;
    font: 700 45px/56px Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-6 {
      max-width: 100%;
      font-size: 40px;
      line-height: 55px;
    }
  }
  .div-7 {
    align-self: stretch;
    display: flex;
    margin-top: 87px;
    flex-direction: column;
    padding: 0 63px 0 15px;
  }
  @media (max-width: 991px) {
    .div-7 {
      max-width: 100%;
      padding-right: 20px;
      margin-top: 40px;
    }
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 54%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-8 {
    display: flex;
    margin-top: 44px;
    flex-direction: column;
    align-items: start;
  }
  @media (max-width: 991px) {
    .div-8 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .img-2 {
    aspect-ratio: 2.8;
    object-fit: contain;
    object-position: center;
    width: 151px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-9 {
    align-self: stretch;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    padding-left: 21px;
  }
  @media (max-width: 991px) {
    .div-9 {
      max-width: 100%;
      padding-left: 13px;
    }
  }
  .div-10 {
    justify-content: center;
    color: #e85a4f;
    align-self: stretch;
    font: 700 40px/124.5% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-10 {
      max-width: 100%;
    }
  }
  .div-11 {
    color: var(--Black, #1d1d1d);
    letter-spacing: -0.56px;
    align-self: start;
    margin-top: 17px;
    white-space: nowrap;
    font: 600 28px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-11 {
      margin-left: 3px;
      white-space: initial;
    }
  }
  .div-12 {
    color: var(--Body-text, #2d3748);
    letter-spacing: -0.28px;
    align-self: start;
    margin-top: 8px;
    white-space: nowrap;
    font: 400 14px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-12 {
      margin-left: 3px;
      white-space: initial;
    }
  }
  .div-13 {
    align-self: stretch;
    display: flex;
    margin-top: 56px;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-13 {
      max-width: 100%;
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }
  .div-14 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  .div-15 {
    color: var(--Body-text, #2d3748);
    letter-spacing: -0.28px;
    font: 400 14px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-16 {
    color: var(--Body-text, #2d3748);
    letter-spacing: -0.28px;
    white-space: nowrap;
    border-radius: 5px;
    border: 1px solid var(--Strokes, #d1d1d1);
    margin-top: 4px;
    justify-content: center;
    align-items: start;
    padding: 19px 60px 19px 20px;
    font: 400 14px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-16 {
      white-space: initial;
      padding-right: 20px;
    }
  }
  .div-17 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  .div-18 {
    color: var(--Body-text, #2d3748);
    letter-spacing: -0.28px;
    font: 400 14px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-19 {
    color: var(--Body-text, #2d3748);
    letter-spacing: -0.28px;
    white-space: nowrap;
    border-radius: 5px;
    border: 1px solid var(--Strokes, #d1d1d1);
    margin-top: 4px;
    justify-content: center;
    align-items: start;
    padding: 19px 60px 19px 20px;
    font: 400 14px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-19 {
      white-space: initial;
      padding-right: 20px;
    }
  }
  .div-20 {
    align-self: stretch;
    display: flex;
    margin-top: 21px;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-20 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-21 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  .div-22 {
    color: var(--Body-text, #2d3748);
    letter-spacing: -0.28px;
    font: 400 14px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-23 {
    color: var(--Body-text, #2d3748);
    letter-spacing: -0.28px;
    white-space: nowrap;
    border-radius: 5px;
    border: 1px solid var(--Blue, #007aff);
    margin-top: 4px;
    justify-content: center;
    align-items: start;
    padding: 17px 60px 17px 20px;
    font: 400 14px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-23 {
      white-space: initial;
      padding-right: 20px;
    }
  }
  .div-24 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  .div-25 {
    color: #2d3748;
    letter-spacing: -0.28px;
    font: 400 14px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-26 {
    border-radius: 5px;
    border: 1px solid var(--Strokes, #d1d1d1);
    display: flex;
    margin-top: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 14px 25px 14px 60px;
  }
  @media (max-width: 991px) {
    .div-26 {
      padding: 0 20px;
    }
  }
  .img-3 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 20px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-27 {
    align-self: stretch;
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-27 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-28 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  .div-29 {
    color: var(--Body-text, #2d3748);
    letter-spacing: -0.28px;
    font: 400 14px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-30 {
    border-radius: 5px;
    border: 1px solid var(--Strokes, #d1d1d1);
    display: flex;
    margin-top: 4px;
    height: 48px;
    flex-direction: column;
  }
  .div-31 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  .div-32 {
    color: var(--Body-text, #2d3748);
    letter-spacing: -0.28px;
    font: 400 14px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-33 {
    border-radius: 5px;
    border: 1px solid var(--Strokes, #d1d1d1);
    display: flex;
    margin-top: 4px;
    height: 48px;
    flex-direction: column;
  }
  .div-34 {
    align-self: stretch;
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-34 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-35 {
    display: flex;
    flex-direction: column;
  }
  .div-36 {
    display: flex;
    justify-content: space-between;
    gap: 12px;
  }
  .img-4 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 20px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-37 {
    color: var(--Body-text, #2d3748);
    letter-spacing: -0.28px;
    flex-grow: 1;
    flex-basis: auto;
    font: 400 14px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-38 {
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
    gap: 12px;
  }
  .div-39 {
    border-radius: 2px;
    border: 1px solid var(--Strokes, #d1d1d1);
    display: flex;
    width: 20px;
    height: 20px;
    flex-direction: column;
  }
  .div-40 {
    color: var(--Blue, #007aff);
    letter-spacing: -0.28px;
    flex-grow: 1;
    white-space: nowrap;
    font: 400 14px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-40 {
      white-space: initial;
    }
  }
  .div-41 {
    color: var(--Blue, #007aff);
    text-align: right;
    letter-spacing: -0.28px;
    text-decoration-line: underline;
    margin-top: 5px;
    font: 400 14px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-42 {
    align-self: stretch;
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-42 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-43 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    justify-content: center;
  }
  .div-44 {
    color: var(--White, #fff);
    letter-spacing: -0.28px;
    white-space: nowrap;
    border-radius: 5px;
    background-color: #fd0808;
    justify-content: center;
    align-items: center;
    padding: 19px 60px;
    font: 600 14px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-44 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-45 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    justify-content: center;
  }
  .div-46 {
    border-radius: 5px;
    background-color: var(--Body-text, #2d3748);
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 14px 80px;
  }
  @media (max-width: 991px) {
    .div-46 {
      padding: 0 20px;
    }
  }
  .img-5 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 20px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-47 {
    color: var(--White, #fff);
    letter-spacing: -0.28px;
    align-self: center;
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 600 14px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-47 {
      white-space: initial;
    }
  }
  .div-48 {
    color: var(--Blue, #007aff);
    text-align: center;
    letter-spacing: -0.28px;
    align-self: center;
    margin-top: 35px;
    white-space: nowrap;
    font: 400 14px/140% Poppins, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-48 {
      white-space: initial;
    }
  }
  .img-6 {
    aspect-ratio: 7.05;
    object-fit: contain;
    object-position: center;
    width: 282px;
    overflow: hidden;
    align-self: center;
    margin-top: 51px;
    max-width: 100%;
  }
  @media (max-width: 991px) {
    .img-6 {
      margin-top: 40px;
    }
  }
